@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');

*{
box-sizing: border-box;
margin: 0;
padding: 0;
}

html{
margin-left: 3%;
margin-right: 3%;
height: 100%;
background-color: #a6a6a6;
}

body{
font-family: 'Open sans', sans-serif;
font-size: 1.2rem;
min-height: 100%;
}

.header{
grid-area: header;
background-color: #0d6e0d;
}

.navbar{
grid-area: navbar;
background-color: #ffffff;
padding-left: 2%;
font-size: 30px;
}

.main{
grid-area: main;
background-color: #ffffff;
}

.sidebar{
grid-area: sidebar;
background-color: #D980FA;
}

.footer{
grid-area: footer;
background-color: #533f0d;
}

#logo{
 float: left;
 padding: 14px;
 padding-left: 3%;
 color: #000;
 padding-right: 25px;
 margin-right: 3%;
 margin-top: 0.5%;
}

#centro{
	width: 50%;
	height: 100px;
	float: left;
	padding-left: 25%;
	padding-top: 2%;
  	font-size: 15px;
}

#derecha{
	width: 50%;
	height: 100px;
	float: right;
	padding-left:25%;
	padding-top: 1%;
	line-height: 65px;
}

#a9{
font-family: roboto;
font-size: 20px;
background-color: #ffffff;
}


a{ 
text-decoration: none;
}

.grid-container{
display: grid;


grid-template-areas:
"header"
"navbar"
"main"	
"sidebar"	
"footer"	
}

@media (max-width: 600px){
 .grid-container{

grid-template:
"header" 	150px
"navbar" 	700px
"main"		550px
"footer" 	80px;
}

}

@media (min-width: 600px){
 .grid-container{

grid-template:
"header 	header" 	150px
"navbar 	navbar" 	700px
"main 		main" 		550px
"footer 	footer" 	65px / 
auto 		500px;
}

}

@media (min-width: 900px){
 .grid-container{

grid-template:
"header 	header  	header" 	150px
"navbar 	main    	main" 		auto
"footer 	footer		footer" 	80px / 
400px 		auto		auto;
}

}

#a10{
float: right;
width: 50%;
height: 150px;
font-family: roboto;
font-size: 20px;
font-weight: bold;
padding-top: 4%;
}

#a11{
float: right;
width: auto;
height: auto;
}

.enviar{
    text-decoration: none;
    padding: 5px;
    font-weight: 600;
    font-size: 15px;
    color: #ffffff;
    background-color: #1883ba;
    border-radius: 6px;
    border: 1px solid #0016b0;
    transition: all 0.7s ease
  }

.enviar:hover{
    color: #0d6e0d;
    background-color: #ffffff;
  }